<div class="container my-12 mx-auto px-4 md:px-12">
  <markdown [src]="mainPath"></markdown>

  <div class="grid lg:grid-cols-3 md:grid-cols-2 xs:grid-cols-1 mt-4 gap-2">
    @for (post of dynamicRoutes; track post.path) {
    <app-card class="col-span-1" [routerLink]="[postsFolder, post.path]">
      <ng-container viewport *ngComponentOutlet="post.component"></ng-container>
      <div title>{{ post.title }}</div>
      <div abstract>{{ post.abstract }}</div>
    </app-card>
    }
  </div>
</div>
